.body{
    background-image: url(backround.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}
.head{
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.netflix{
    color: red;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
}
#language{
    background-color: black;
    border-radius: 10%;
    color: aliceblue;
    width: 95px;
    height: 30px;
}
.login{
    color: rgb(241, 239, 239);
    background-color: red;
    height: 28px;
    width:90px;
    text-decoration: none;
    text-align:center;
    border-radius: 25%;
    font-family: 'Inter', sans-serif;
    font-weight: 500;;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.headcontainer{
    padding-left: 60px;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
}
.midtext{
    color: white;
    text-align: center;
    gap: 10px;
    height: 35%;
    justify-content: space-between;
}
.headtext{
   font-size: 300%;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 800;
}
.price{
    font-size: 19px;
}
.mail{
 justify-content: space-between;
 color: white;
 height: 200px;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}
.watch{
    color: white;
    text-align: center;
    height: 40px;
    font-size: large;
}
#email{
   height: 40px;
   width: 450px;
   opacity: 10%;
   border: 10px;
   border-color: white;
}
#getstarted{
background: red;
width: 150px;
height: 50px;
color: white;
font-weight: 700;
cursor: pointer;
font-size: 100%;
}
#getstarted:hover{
    transform: scale(1.1);transition:0.3s
}
  .recommendations{
            background-image: url("backround2.png");
            background-size: 150%;
            background-repeat: no-repeat;
            padding-left: 10%;
        }
        .trending-text{
            color: white;
            font-size: 30px;
            padding-bottom: 10px;
        }
        .trending{
            display: flex;
            height: 70%;
            gap: 80px;
            font-size: 100px;
        }
        .trending img{
            height: 300px;
            width: 220px;
            position:relative;
        }
        .trending img:hover{
            transition: 0.3s;transform: scale(1.1);
        }
         .txt{
            position: absolute;
            bottom: -390px;
            line-height: 1;
            color: black;
            font-weight: 700;
           -webkit-text-stroke: 1px white;
            z-index: 1;
         }
           .more-reason{
         color: aliceblue;
         font-size:30px;
            }
        .reasons{
            display: flex;
            justify-content: space-between;
           
        }
        .reasons img{
         width: 250px;
         border-radius: 5%;
         align-items: center;
        }
        .questions{
                background: black;
                font-family: Arial, Helvetica, sans-serif;
                padding-left: 10%;
                padding-top: 5% ;
            }
          .frequent-questions{
            color: white;
            font-weight: 500;
            font-size: 30px;
            padding-bottom: 10px;
          }
          .question{
            color: white;
            text-align: left;
            font-size: 30px;
          }
          .Question{
            display: grid;
            grid-template-rows:80px  ;
            row-gap: 20px;
            align-items: center;
            font-weight: 20;
          }
          .Question button{
            background: rgb(28, 26, 26);
            display: flex;
            justify-content: space-between;
            cursor: pointer;
          }
          .symbol{
            font-size: 50px;
            margin: 5px;
            padding: 5px;
          }
           .number{
                text-align: left;
                padding-bottom: 30px;
            }
            .number a{
                 color: white;
            }
            .footer{
                background-image: url(Black_colour.jpg.webp);
                background-size: 200%;
                padding-top: 10%;
                padding-left: 10%;
                
            }
            .contact{
                padding-left: 10%;
                display: grid;
                grid-template-columns: 250px 250px 250px 250px;
                row-gap: 20px;
                background-image: url(Black_colour.jpg.webp);
            }
            .contact a{
                 color: white;
            }
            .language{
                display: flex;
                padding: 10px;
            }
            .disclaimer{
                background-color: black;
                color: white;
                padding-bottom: 5%;
            }